<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

GOOGLE SEARCH API: AIzaSyCHdwZ83CJ0CjuXhnPKJmEUZpZNC6jBPew
https://developers.google.com/custom-search/v1/overview
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Koti</title>
    </head>
    <body> 
        <div><script async src="https://cse.google.com/cse.js?cx=006921865975195394407:_zfs8yivn-q"></script>
            <div class="gcse-search"></div></div>
        <img th:src="${picture}"/></br><b th:text="${tempature}"></b> 
        <b>°C</b>
    </body>
</html>
